*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}
img {
  box-sizing: content-box;
}
body {
  background: #d1cfcf;
  margin: 0;
  padding: 0;
  font-family: 'Playfair Display', serif;
}
.wrapper {
  min-height: 100vh;
  position: relative;
}
.carousel-vw {
  width: 100vw;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: #169ec770;
  display: flex;
  align-items: flex-start;
  width: 100vw;
  min-height: calc(100vh - 92vh);
  margin: 0;
  opacity: .98;
}
/*=== footer section ===*/
footer {
  display: flex;
  flex: 1;
  flex-flow: column;
  align-items: center;
  margin-top: auto;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;

  
  font-weight: 800;
  letter-spacing: 1.2px;
  background-color: #ece25bf5;
}
.footer-contact {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex: 1;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: flex-start;
}
.footer-contact span {
  margin-left: 30px;
}
.footer-contact li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  margin-top: 1em;
}
.phone {
  color: #116ec0;
}
.email {
  color: #116ec0;
}
.social {
  margin-top: 50px;
  width: 100%;
}
.social-icons {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
}
.social-icons li {
  margin: 12px;
}
.social-icons a{
  font-size: 30px;
}
.copyright {
  margin-top: auto;
  padding: 20px 0;
}
.footer-info {
  display: flex;
  flex-flow: column;
  text-align: center;
  width: 60%;
}
.h2-contact {
  color: #116ec0;;
  margin-top: 2rem;
  text-transform: uppercase !important;
  text-shadow: 0 0 1px;
  font-weight: 800;
  padding: 2px;
  border: .15rem solid;
}
.p-contact {
  margin: 1rem;
  text-align: justify;
}

/*=== base selectors ====*/
/*=== Main Header
  and Navigation =====*/
.logo {
  max-width: 100px;
  margin: 11px auto;
}
.logo img {
  width: 100%;
  border-radius: 50%;
}
.main-nav {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 40px 6px 0 0;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 1.5px;
}
.main-nav ul {
  display: flex;
  padding: 0;
  text-align: center;
}
.main-nav a:hover {
  color: #f8e913;
  border-bottom: .2rem solid aqua;
}
.main-nav a {
  padding: 6.66px 2px;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  margin: 8px;
  transition: border .3s linear;
}
.donate a{
  background-color: #f8e913!important;
  color: #121212 !important;
  border-radius: 0.2rem;
  padding: 8px;
  font-weight: 800;
  text-shadow: 0 0 2px #bbb;
  margin-right: 1rem;
}
.donate a:hover {
  border: none;
  color: #363838 !important;
  transform: scale(1.02);
}
.banner {
  width: 100vw;
  max-width: 1000px;
  margin: 0 auto;
}
.banner img {
  width: 100%;
}
.info{
  min-height: 100vh;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}
.info:hover {
  opacity: .9;
  border-left: 1rem solid #eee;
}
.info h1 {
  text-align: center;
  margin-top: 10;
}
.info:nth-of-type(2) {
  background-color: #f1b167;
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
}
.info:nth-of-type(3) {
  background-color: #c4d65d;
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
}
.info:nth-of-type(4) {
  background-color: #e0e0e0;
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
}
.info:nth-of-type(5) {
  background-color: #758d8d;
  display: flex;
  justify-content: flex-start;
  flex-flow: column wrap;
  margin-bottom: 1em;
}
.description {
  width: 60%;
  margin: 0 auto;
  align-self: flex-start;
  letter-spacing: 1.5px;
  text-align: justify;
}
.loader {
  position: fixed;
  top: 0;
  left: 0;

  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
  background-color: #eee;
  z-index: 1000;
}
.loading {
  border: 4px dashed #f8e913;
  border-top: 4px solid #3498db;
  border-right: 4px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { 
    transform: rotate(0deg); 
    }
  100% { 
    transform: rotate(360deg); 
    }
}
.menu-bar {
  display: none;
}
/* === PSEUDO CLASSES === */
.d-flex {
  display: flex;
}

/* == MEDIA QUERIES === */

@media only screen and (max-width: 768px) {
  header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
   height: 25vh;
  }
  .logo {
    margin-top: -0.5px;
    /* display: none; */
    width: 60px;
  }
  .main-nav {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0%;
    right: 0%;
    font-size: 12px;
    animation: slide .3s ease-in;
  }
  @keyframes slide {
    0%{
      width: 0%;
    }
    100% {
      width: 100%;
    }
  }
  .main-nav ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #747472;
    width: 100%;
    margin: 0;
    padding: 0;
    letter-spacing: normal;
  }
  .main-nav a {
    margin: 0;
  }
  .menu-bar {
    margin-top: 10px;
    /* align-self: center; */
    display: grid;
    place-items: center;
    width: 25%;
    font-size: 24px;
    color: #f8e913;
    margin-left: auto;
    cursor: pointer;
  }
  .donate a{
    padding: .4em;
  }
  .description {
    width: 85%;
  }
}
